# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: agarcia2 <agarcia2@student.42barcelona.co  +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2026/06/22 18:21:55 by agarcia2          #+#    #+#              #
#    Updated: 2026/06/22 18:22:17 by agarcia2         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

*.DS_Store
